# --- Core Django & Server ---
Django==6.0
gunicorn==23.0.0
whitenoise==6.11.0
dj-database-url==3.1.0
psycopg2-binary==2.9.11
asgiref==3.11.0
sqlparse==0.5.4

# --- App Features ---
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
djangorestframework==3.16.1
django-cleanup==9.0.0
django-extensions==4.1
Pillow
python-dotenv

# --- Utilities (Web requests, scraping, etc) ---
requests
urllib3
certifi
charset-normalizer
idna
beautifulsoup4
lxml==5.3.0

